{% extends 'base.html' %}


{% block content %}
    <h1>List of Series</h1>

    <div class="container">
        <div class="cards">
            <h3>Series</h3>
            <h1>Popular</h1>

            {% for series in series_list %}
                <div class="serie__container">
                    <div class="card">
                        <div class="card_image">
                            <img src="{{ series.cover.url }}" alt="{{ series.cover.name }}"/>
                        </div>
                        <div class="card_title title-white">
                            <p>{{ series.title }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}


